<div class="form-inline m-5 row animated fadeIn">
  <input #nombre (keyup.enter)="buscarNombre(nombre.value)" class="form-control col-12" type="search" placeholder="Buscá por nombre" aria-label="Search">
</div>

<div class="alert alert-danger m-5 animated fadeIn" role="alert" *ngIf="error">
   <h3>No se encontraron elementos que coincidan con "{{nombre.value}}"</h3>
   <hr>
   <h4>
       Probá con otro nombre
    </h4>
</div>
<app-back></app-back>

<app-loading class="m-5 animated fadeIn" *ngIf="loading"></app-loading>


<div class="card-columns m-5">

    <div (click)="getCharacterById(personaje.id)" class="card selectable animated fadeIn" *ngFor="let personaje of personajes">
      <img [src]="personaje.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{personaje.name}}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Apariciones en episodios: {{personaje.episode.length}}
            </li>
            <li class="list-group-item">
                Status: {{personaje.status}}
            </li>
        </ul>
      </div>
    </div>
</div>


<img src="assets/img/morty.png" id="morty" alt="">

